$hilight: 			#f35959;
$dark-hilight: 		#8c363b;
$background: 		#262733;
$sidebar: 			#1D1E29;

$white:				#ffffff;
$light: 			#afb0c1;
$dark: 				#41424D;
$darker: 			#30313B;

$darkest:           #0F1016;
$light-text:        #ADAEB8;
$darker-text:       #7A7B84;

$tracklist-text:        #E2E3E9;
$tracklist-line:        #3A3C4E;

$font-stack: "Muli", Helvetica, sans-serif;
