.ui-slider {
	cursor: pointer;
}

.ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: none;
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	@include size(15px);
	border-radius: 100%;
	outline: none;
	cursor: pointer;
}

.ui-state-default {
	background: $hilight;
}

//HORIZONTAL SLIDER STYLES

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
	border-radius: 2px;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal {
	height: 20px;
	position: relative;
}

//The visual "slider track"
.ui-slider-horizontal:after {
	content: " ";
	display: inline-block;
	position: absolute;
	top: 9px;
	width: 100%;
	height: 4px;
	background: #ffffff;
	border-radius: 2px;
}

//Positioning of the handle
.ui-slider-horizontal .ui-slider-handle {
	top: 3px;
	margin-left: -7px;
}

.ui-slider-horizontal .ui-widget-header:after {
	content: " ";
	position: absolute;
	top: 9px;
	width: 100%;
	height: 4px;
	background: #f35959;
	border-radius: 2px;
}

//VERTICAL SLIDER STYLES

.ui-slider-vertical .ui-slider-range {
	left: 0;
	height: 100%;
	border-radius: 2px;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical {
	width: 20px;
	height: 70%;
	position: relative;
	margin: 16px auto;
}

//The visual "slider track"
.ui-slider-vertical:after {
	content: " ";
	display: block;
	position: absolute;
	left: 8px;
	height: 100%;
	width: 4px;
	background: #ffffff;
	border-radius: 2px;
}

//Positioning of the handle
.ui-slider-vertical .ui-slider-handle {
	left: 3px;
	margin-bottom: -7px;
}

.ui-slider-vertical .ui-widget-header:after {
	content: " ";
	position: absolute;
	left: 8px;
	width: 4px;
	height: 100%;
	background: #f35959;
	border-radius: 2px;
}

/* jQuery UI Slider

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-state-default {
	background: #f35959;
}

.ui-slider-vertical {
	height: 90%;
	width: 20px;
	position: relative;
}

.ui-slider-vertical:after {
	content: " ";
	position: absolute;
	width: 4px;
	display: block;
	height: 90%;
	border-radius: 2px;
	top: 8px;
	background: #ffffff;
}

.ui-slider-vertical .ui-widget-header:after {
	content: " ";
	position: absolute;
	top: 8px;
	width: 100%;
	height: 100%;
	background: #f35959
}
.ui-slider-vertical .ui-widget-content {
	background: none;
}

//Horizontal styles

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	outline: none;
	cursor: pointer;

	top: 3px;
	margin-left: -7px;
}

.ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: none;
}

.ui-slider-horizontal {
	height: 3px;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-horizontal {
	height: 20px;
	position: relative;
}

.ui-slider-horizontal:after {
	content: " ";
	position: absolute;
	top: 8px;
	width: 100%;
	display: block;
	height: 4px;
	border-radius: 2px;
	top: 8px;
	background: #ffffff;
}

.ui-slider-horizontal .ui-widget-header:after {
	content: " ";
	position: absolute;
	top: 8px;
	width: 100%;
	height: 4px;
	background: #f35959
}
.ui-slider-horizontal .ui-widget-content {
	background: none;
}

.ui-widget-header {
	background: none;
}


*/
